<div class="sixteen columns">
   <h1 class="remove-bottom" style="margin-top: 40px">Edit User - <%=current_company.name%></h1>
    <div class='three columns omega' style='float:right;'>
      <%=link_to 'Listing', users_path%>
    </div>
   <hr />
</div>
<%=render 'form'%>
