<div class="sixteen columns">
   <h1 class="remove-bottom" style="margin-top: 40px">Welcome to my web portal</h1>
   <hr />
</div>
<div class='flash twelve columns alpha"'>
    <%=render_flash_message%>
</div>